body {
  background-color: black;
  color: white;
}
.user-img {
  border-radius: 50%;
  padding: 10px;
  width: 150px;
}
.user-name {
  font-size: 20px;
  margin-left: 65%;
  position: relative;
  top: 50px;
}
.header {
  display: flex;
  margin-left: 26%;
}
.addPost {
  width: 150px;
  height: 30px;
  position: relative;
  top: 50px;
  border-radius: 10px;
}

.user-bio {
  width: 300px;
  position: relative;
  left: 98px;
  top: -50px;
}
/* stories */

.story-img {
  border-radius: 50%;
  padding: 10px;
  width: 80px;
  height: 80px;
  border: 0.2px solid rgb(96, 96, 96);
  padding: 6px;
  margin-top: -30px;
}
.stories {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  width: 650px;
  top: -100px;
  font-size: 12px;
  margin-left: 20%;
}

.line {
  margin-left: 23%;
}
/* stories end */

/* card */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  width: 1000px;
}
.cardPhoto {
  margin: 10px;
}
.imgPhoto {
  width: 250px;
  height: 250px;
}

/* modal of post  start*/
.containerModal {
  width: 900px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}
.imgPhotoModal {
  width: 450px;
  height: 450px;
  margin: 0;
  padding: 0;
}

.cardPhotoModal {
  margin: 0;
  padding: 0;
}
.user-img-modal {
  border-radius: 50%;
  padding: 10px;
  width: 65px;
  position: relative;
  left: 500px;
  top: -450px;
}
.user-name-modal {
  position: relative;
  left: 580px;
  top: -490px;
  margin: 0;
}
.userModal {
  position: relative;
  left: -500px;
  top: 220px;
}

.rightInfo {
  margin-left: 500px;
  margin-top: -30%;
}

.btnDelete {
  padding: 5px;
  border-radius: 10px;
}
.btnEdit {
  padding: 5px;
  border-radius: 10px;
}
.cardPhoto {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -90px;
}

.icons-row {
  display: flex;
  justify-content: space-between;
  width: 120px;
  position: relative;
  left: 500px;
}
.descr {
  position: relative;
  left: 10px;
  top: -170px;
  width: 330px;
}
/* modal of post  end*/

.search {
  position: relative;
  left: 400px;
  top: -54px;
  width: 300px;
}

.PaginationTab {
  margin-left: 25%;
}
.searchTab {
  margin-top: 100px;
  margin-left: 3%;
}
